<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%=  resPonse.current.condition.text %></h1>
    <h2>Tempreature is <%=  resPonse.current.temp_c %></h2>
    <h1> Humidity is <%=  resPonse.current.humidity %></h1>

    <img src="<%= resPonse.current.condition.icon %>">
</body>
</html>